</div>
    <footer class="navbar navbar-dark bg-dark">
        <div class="container">
            <div class="me-auto footer-space mb-2">
                <p class="footer-li h4"><a href="/">&copy; TradeBay</a></p>
                <p class="footer-li"><a href="/about">About</a></p>
                <p class="footer-li"><a href="/contact">Contact</a></p>
            </div>
            <ul class="ms-auto footer-space">
                <li class="footer-icons" id="icon-shift">
                    <a class="instagram" href="https://www.facebook.com/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li class="footer-icons">
                    <a class="twitter" href="https://twitter.com/" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>