* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
    text-transform: capitalize;
    text-decoration: none;
}

body {
    min-height: 100vh;
    background-color: #212529;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #343A40;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

header .logo {
    font-weight: bolder;
    font-size: 25px;
    color: white;
}

header .navbar ul {
    list-style: none;
}

header .navbar ul li {
    position: relative;
    float: left;
}

header .navbar ul li a {
    font-size: 16px;
    padding: 20px;
    color: whitesmoke;
    display: block;
}

header .navbar ul li a:hover {
    /** background: wheat; */
    color: tomato;
}

header .navbar ul li ul {
    position: absolute;
    left: 0;
    width: 200px;
    background: #343A40;
    display: none;
}

header .navbar ul li ul li {
    width: 100%;
    border-top: 1px solid rgb(97, 95, 92);
}

header .navbar ul li ul li ul {
    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within>ul,
header .navbar ul li:hover>ul {
    display: initial;
}


/**
#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: wheat;
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {
    header {
        padding: 20px;
    }
    header label {
        display: initial;
    }
    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: khaki;
        border-top: 1px solid rgb(97, 95, 92);
    }
    header .navbar ul li {
        width: 100%;
    }
}
*/